<nav class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a ng-click="inicializar()" class="dropdown-toggle" type="button" data-toggle="dropdown">Home</a>
            </li>
            <li>
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">Portales <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-click="inicializar()">Todos los sitios</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li ng-repeat="sitio in portales">
                    <a ng-click="mostrarSitio(sitio.nombre)">{{sitio.nombre}}</a>
                  </li>
                </ul>
            </li>

            <li>
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">Filtros <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ng-click="mostrarFiltro('fechas')">Rango fechas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-click="mostrarFiltro('palabra')">Palabras</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown" ng-click="compararNoticias()">Noticias similares</a>
            </li>
        </ul>
    </div>
</nav>