.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/*
Variables generales de ladiaria.com.uy

 */
html {
  font-size: 100% ;
}
body {
  color: #000000;
}
h1.hacky {
  position: absolute;
  left: -10000px;
}
a {
  cursor: pointer;
  color: #3399ff;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #0073e5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 12px 0;
  padding: 0 12px;
  clear: both;
  background: #dfebf8;
  line-height: 1em;
}
h1 {
  border-bottom: 1px dotted #000000;
  font-size: 1.4em;
  background: none;
  padding: 6px 0;
}
h2 {
  font-size: 1.3em;
  padding: 6px 12px;
}
h3 {
  font-size: 1.2em;
  padding: 6px 12px;
}
h4 {
  font-size: 1.1em;
  padding: 6px 12px;
}
h5 {
  font-size: 1.06em;
  padding: 6px 12px;
}
h6 {
  font-size: 1.02em;
  padding: 6px 12px;
}
p {
  margin: 6px 0 12px 0;
  line-height: 1.3em;
  word-wrap: break-word;
}
p.lead {
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.3em;
  font-size: 1em;
}
.small {
  font-size: 70%;
  color: #666666;
  font-weight: normal;
}
img {
  border: 0 none;
  height: auto;
  max-width: 100%;
}
figure {
  margin: 0;
}
.caption-portail {
  font-size: 0.9em;
  color: #666666;
  margin-bottom: 12px;
  text-align: left;
  margin-top: 109px;
}
div.hr {
  height: 1px;
  border-top: 1px dotted #666666;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 24px;
}
div.hr hr {
  display: none;
  border-top: 1px dotted #666666;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 1.42857143;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dt dd {
  font-weight: bold;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
}
.pagination ul > li.active {
  display: inline-block;
  padding: 6px;
}
section.section_module {
  margin-bottom: 12px;
}
section.section_module div.hr {
  background-color: #ffffff;
}
section.section_module > header {
  background: #dfebf8;
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
}
section.section_module > header h2 {
  margin: 6px;
  display: inline-block;
}
section.section_module > .row {
  margin-right: 0;
  margin-left: 0;
}
section.section_module .wrapper_col.last .navbar .nav > li > .dropdown-menu:before {
  left: auto;
  right: 9px;
}
section.section_module .wrapper_col.last .navbar .nav > li > .dropdown-menu:after {
  left: auto;
  right: 10px;
}
section.section_module .wrapper_col.last .navbar .nav > li > .dropdown-menu {
  left: auto;
  right: 0;
}
section.section_module article h1,
section.section_module article h2,
section.section_module article h3 {
  font-weight: bold;
}
section.section_module article.art_H1 p.lead {
  font-size: 1.2em;
}
section.section_module article.art_H2 p.lead {
  font-size: 1.1em;
}
section.section_module article.art_H3 p.lead {
  font-size: 1em;
}
section.section_module .view-more-footer {
  text-align: center;
  font-size: 2em;
}
.border-right,
.border-left,
.border-both {
  position: relative;
}
.border-left:before,
.border-right:after {
  position: absolute;
  content: '';
  height: auto;
  top: 0px;
  bottom: 12px;
  border-right: 1px dotted #666666;
  width: 0;
}
.border-left:before {
  left: -1px;
}
.border-right:after {
  right: 0px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: auto;
  font-size: 1em;
}
label,
input,
button,
select,
textarea {
  font-size: 1em;
}
select,
input[type="file"] {
  height: auto;
}
input,
textarea {
  border: solid 1px #3399ff;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin: 0 12px 0 0;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c0c0c0;
}
fieldset {
  margin-bottom: 24px;
}
fieldset figcaption {
  width: 100%;
  padding: 0;
  margin: 0;
}
legend {
  border-bottom: dotted 1px #000000;
}
.form-actions {
  background: none;
  padding: 24px 0;
}
.alert h4 {
  background: none;
}
.btn,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: #3399ff;
  background: #f2f2f4;
  border: none;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 12px;
}
.btn:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn:focus,
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  color: white;
  text-shadow: none;
  background: #0073e5;
}
.btn.strong,
button.strong,
html input[type="button"].strong,
input[type="reset"].strong,
input[type="submit"].strong {
  background: #3399ff;
  color: #ffffff;
}
.btn.strong:hover,
button.strong:hover,
html input[type="button"].strong:hover,
input[type="reset"].strong:hover,
input[type="submit"].strong:hover {
  background: #0073e5;
}
.btn.active,
.btn:active,
input.btn[type="submit"],
button.btn[type="submit"] {
  box-shadow: none;
  color: #ffffff;
  background: #3399ff;
}
.btn.active:hover,
.btn:active:hover,
input.btn[type="submit"]:hover,
button.btn[type="submit"]:hover {
  color: #ffffff;
  background: #0073e5;
}
.tag {
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
  line-height: 16px;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #3399ff;
}
.tag:hover,
.tag:active,
.tag:focus {
  color: #ffffff;
  background-color: #0073e5;
}
.dropdown.open > a {
  display: inline-block;
}
.dropdown-menu {
  padding: 12px;
}
.dropdown-menu * {
  filter: none !important;
}
.dropdown-menu .btn:hover {
  color: white;
}
.dropdown-menu > li > a {
  color: #3399ff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  color: #0073e5;
  background: transparent;
  filter: none;
}
.modal {
  padding: 12px;
}
.modal .modal-header {
  padding: 0;
  border: none;
}
.modal .modal-header .close {
  position: absolute;
  right: 12px;
  top: 12px;
}
.modal .close {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  cursor: pointer;
  padding: auto;
  opacity: 1;
  float: inherit;
}
.modal-content {
  border-radius: 0;
  padding: 12px;
}
#blueimp-gallery .modal-content {
  background: none;
  box-shadow: none;
  border: none;
  color: white;
}
#blueimp-gallery .modal-footer {
  border: none;
}
#blueimp-gallery .btn {
  background: none;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  background-color: #000;
}
.accordion-group {
  border: none;
  box-shadow: none;
}
.accordion-group h3 {
  margin: 0;
}
.accordion-group .accordion-inner {
  padding: 12px 0;
  border: none;
}
.accordion-heading .accordion-toggle {
  padding: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-color: transparent;
  background: #3399FF;
}
.accordion-body.blue {
  background: #EFF4FA;
  padding: 0 12px;
}
.accordion-body.blue .nav-tabs > li > a:hover,
.accordion-body.blue .nav-tabs > li > a:focus {
  border-color: transparent;
  background: #3399FF;
  color: white;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  line-height: 14px;
  margin-right: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: .9em;
}
.tab-content {
  margin-top: 12px;
}
#goto {
  display: none;
}
#page_header {
  margin-top: 24px;
  margin-bottom: 12px;
}
#page_header #logo {
  width: 168px;
}
#content > div > header h1 {
  font-weight: normal;
}
#content > div > header h1.small {
  vertical-align: middle;
}
.navbar.nav-edition {
  text-transform: uppercase;
  float: none;
  text-align: center;
  margin-bottom: 0;
}
.navbar.nav-edition .nav {
  margin-bottom: 0;
  display: inline-block;
  float: none;
}
.navbar.nav-edition .nav > li {
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  margin: 0;
  padding: 0;
}
.navbar.nav-edition .nav > li > a {
  padding: 0;
}
.navbar.nav-edition .nav > li > a > .icon {
  padding: 0 6px;
  line-height: 26px;
}
.navbar .nav-edition.nav {
  margin: 0;
}
.navbar .nav-edition.nav > li {
  margin: 0;
}
.navbar .nav-edition.nav > li > a {
  line-height: 20px;
}
.edit_link {
  text-transform: none;
}
.breadcrumb {
  background: #dfebf8;
  border: none;
  box-shadow: none;
}
.breadcrumb li {
  text-shadow: none;
}
.breadcrumb h2 {
  display: inline-block;
}
.divider {
  background: transparent !important;
}
.icon-ladiaria {
  font-family: "ladiaria_icons" !important;
}
.pin_icon a.selected {
  color: #ff33ff;
}
.pin_icon a:hover {
  color: #ff33ff;
}
.count {
  font-size: 0.9em;
  margin-bottom: -0.1em;
  margin-left: .4em;
}
.navbar {
  font-size: .9em;
  float: left;
  margin-bottom: 0;
  min-height: 0;
  border: none;
}
.navbar .btn {
  line-height: 32px;
  padding-top: 0;
  padding-bottom: 0;
  background: none;
  color: #3399ff;
}
.navbar .btn:hover,
.navbar .btn:focus {
  background: #ffffff;
}
.navbar .btn.strong {
  background: #3399ff;
  color: #ffffff;
}
.navbar .btn.strong:hover {
  background: #ffffff;
  color: #3399ff;
}
.navbar .btn.dropdown-toggle {
  color: #3399ff;
}
.navbar .dropdown-menu .btn {
  background: #eeeeee;
  color: #3399ff;
}
.navbar .dropdown-menu .btn:hover,
.navbar .dropdown-menu .btn:focus {
  background: #3399ff;
  color: #ffffff;
}
.navbar .dropdown-menu .btn.strong {
  background: #3399ff;
  color: #ffffff;
}
.navbar .dropdown-menu .btn.strong:hover {
  background: #0073e5;
  color: #3399ff;
}
.navbar li {
  margin-right: 12px;
  display: inline-block;
}
.navbar li > a {
  padding: 0 6px;
  text-shadow: none;
  box-shadow: none;
  color: #3399ff;
  font-size: 1em;
}
.navbar li > a:hover,
.navbar li > a:active,
.navbar li > a:focus {
  background: none;
  color: #0073e5;
}
.navbar li.dropdown.open .dropdown-toggle {
  background-image: none;
  background-color: #ffffff;
  color: #3399ff;
}
.navbar li.dropdown.open .btn.dropdown-toggle {
  background-color: #ffffff;
}
.navbar .nav.toolbar {
  margin-bottom: 0;
}
.navbar .nav.toolbar > li {
  margin-right: 6px;
}
.navbar .nav.toolbar > li > a {
  padding: 0;
}
.navbar .navbar-inner {
  background: #ffffff;
  box-shadow: none;
  min-height: auto;
  border: none;
  padding: 0;
  filter: none;
}
.navbar#principal {
  font-size: 14px;
}
.navbar#principal .navbar-toggle {
  padding: 9px 12px;
  margin: 0;
  float: left;
}
.navbar#principal .navbar-toggle span {
  vertical-align: middle;
  margin-right: 12px;
}
.navbar#principal .navbar-collapse {
  padding: 0 24px 24px 24px;
  border-bottom: dotted 1px #666666;
  font-size: 1.8em;
}
@media (min-width: 992px) {
  .navbar#principal .navbar-collapse.collapse {
    font-size: 1.1em;
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding: 0 12px;
    border-bottom: none;
  }
  .navbar#principal .navbar-collapse.collapse .nav > li .dropdown-menu {
    left: 0;
  }
  .navbar#principal .navbar-collapse.collapse .nav > li .dropdown-menu li {
    display: inline-block;
    font-size: 1.1em;
    padding: 0;
    border-bottom: none;
  }
}
.navbar#principal .navbar-collapse .nav > li .dropdown-menu li {
  display: block;
  clear: both;
  font-size: 2em;
  padding: 6px 12px 6px 24px;
}
.navbar#principal .nav > li {
  position: static;
}
.navbar#principal .nav > li > a {
  font-weight: bold;
  padding: 0;
}
.navbar#principal .nav > li.dropdown {
  padding: 0;
}
.navbar#principal .nav > li.dropdown .dropdown-menu {
  background: #ffffff;
}
.navbar#principal .nav > li.dropdown > a {
  color: #c0c0c0;
}
.navbar#principal .nav > li.dropdown > a:hover,
.navbar#principal .nav > li.dropdown > a:active,
.navbar#principal .nav > li.dropdown > a:focus {
  color: #3399ff;
  background: none;
}
.navbar#principal .nav > li.dropdown.open > a {
  color: #3399ff;
}
.navbar#principal .nav > li.dropdown.open .dropdown-menu {
  z-index: 0;
  display: block;
  visibility: visible;
  top: auto;
  left: 24px;
}
.navbar#principal .nav > li.dropdown.current > a {
  color: #3399ff;
}
.navbar#principal .nav > li.dropdown .caret {
  display: none !important;
}
.navbar#principal .nav > li .dropdown-menu {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  min-height: 48px;
  background: none;
}
.navbar#principal .nav > li .dropdown-menu:after,
.navbar#principal .nav > li .dropdown-menu:before {
  content: none;
  display: none;
}
.navbar#principal .nav > li .dropdown-menu ul {
  margin: 0;
}
.navbar#principal .nav > li .dropdown-menu li {
  display: inline-block;
  margin-right: 12px;
}
.navbar#principal .nav > li .dropdown-menu li.active a {
  background: #ffffff;
  color: #3399ff;
}
.navbar#principal .nav > li .dropdown-menu li > a {
  line-height: 26px;
  font-weight: bold;
  color: #808080;
  padding: 0;
}
.navbar#principal .nav > li .dropdown-menu li > a:hover {
  color: #3399ff;
  background: white;
}
.navbar-nav {
  display: inline-block;
}
.navbar-toggle {
  margin-bottom: 0;
  margin-top: 0;
}
#strip .container-fluid {
  background: #dfebf8;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}
#strip .btn-group,
#strip .btn {
  /*
    padding-top: 0;
    padding-bottom: 0;*/
}
#strip .nav {
  margin: 0;
}
#strip .nav > li {
  margin-right: 6px;
  display: inline-block;
}
#strip .nav > li.open .dropdown-toggle {
  background-image: none;
  background-color: #ffffff;
  color: #3399ff;
}
#strip .nav > li.open .btn.dropdown-toggle {
  background-color: #ffffff;
}
#strip #search {
  float: left;
}
#strip .navbar-text {
  margin-top: 4px;
  margin-bottom: 0;
}
#strip .current_edition {
  margin: 0 12px 0 0;
}
#strip form {
  margin: 0;
  box-shadow: none;
  padding-right: 0;
}
#strip form input {
  border: none;
  padding: 0 12px;
  line-height: 32px;
}
#strip.fixed {
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}
#strip .edition-date {
  text-transform: uppercase;
}
#strip .user_profile .dropdown-toggle {
  max-width: 150px;
  overflow: hidden;
  padding: 0 12px 0 0;
}
#strip .user_profile .dropdown-toggle.user {
  line-height: 1em;
}
#strip .user_profile .dropdown-menu {
  width: 400px;
}
#strip .user_profile a {
  display: inline-block;
}
#strip .user_profile #profile_settings {
  margin-bottom: 12px;
}
#strip .user_profile .mensajeria a {
  padding-left: 0;
}
#strip .pins .content li {
  padding: 6px 0px;
  border-bottom: dotted 1px #666666;
}
.scroll-top {
  position: fixed;
  bottom: 0;
  right: 2%;
  z-index: 5000;
  font-size: 24px;
}
#strip_logo {
  float: left;
  display: block;
}
#strip_logo img {
  height: 32px;
  max-width: none;
  margin-right: 12px;
}
.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.collapse.in.width {
  width: auto;
}
#cover #columnas article {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
#cover #columnas article h1 {
  border: none;
  margin: 0;
}
#cover #columnas > .row {
  background: #eff4fa;
  padding-bottom: 12px;
  padding: 0px;
}
#cover #columnas > .row article:last-child {
  margin-bottom: 0;
  background: none;
}
#cover #columnas > .row article:last-child footer {
  background: none;
}
#cover #columnas > .row > header > h2 {
  margin: 0 -12px 12px;
}
#cover #columnas .navbar .nav > li > .dropdown-menu:before {
  left: auto;
  right: 9px;
}
#cover #columnas .navbar .nav > li > .dropdown-menu:after {
  left: auto;
  right: 10px;
}
#cover #columnas .navbar .nav > li > .dropdown-menu {
  left: auto;
  right: 0;
}
#cover_article article h2 {
  font-size: 3em;
  margin: 0;
  font-weight: bold;
}
#cover_article article p.lead {
  font-size: 1.2em;
}
#cover_article article.portrait h2 {
  margin-top: 0;
  padding-top: 0;
}
#cover_article article.portrait .caption {
  margin-top: 24px;
  float: left;
  color: #666666;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.4em;
  border: none;
}
#highlights .art_2,
#highlights .art_5 {
  margin-top: -6px;
}
#highlights article {
  clear: both;
  width: 100%;
}
#highlights article .deck {
  font-size: .9em;
  margin: 0;
}
#highlights article .navbar {
  float: none;
}
#highlights article .navbar .nav {
  float: none;
  display: inline-block;
}
#highlights article header {
  overflow: hidden;
  margin-bottom: 6px;
}
#highlights article .section {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
#highlights .hr {
  height: 12px;
}
.cover_sidebar {
  margin-bottom: 24px;
}
.cover_sidebar article {
  margin-bottom: 12px;
}
.cover_sidebar.breves {
  font-size: .9em;
}
.cover_sidebar.breves h2 {
  font-size: 1.4em;
}
.cover_sidebar.pub {
  background: none;
}
.cover_sidebar .navbar .nav > li.dropdown.open .dropdown-toggle {
  background: none;
}
#edition_fixed {
  padding: 4px 0;
  background: white;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}
#edition_fixed #sub-navigation-fixed {
  font-size: 14px;
  font-weight: bold;
}
#edition_fixed #sub-navigation-fixed ul {
  margin: 0;
}
#edition_fixed #sub-navigation-fixed li.active a {
  background: #3399ff;
  color: #ffffff;
}
#edition_fixed #sub-navigation-fixed li a {
  box-shadow: none;
}
#edition_fixed #sub-navigation-fixed li a:hover {
  color: #ffffff;
  background: #0073e5;
}
#edition_fixed #sub-navigation-fixed li a:active,
#edition_fixed #sub-navigation-fixed li a:focus {
  background: #0073e5;
  color: #ffffff;
}
#edition_fixed .navbar {
  min-height: 0;
}
#edition_fixed .nav-edition {
  float: left;
  line-height: 1em;
}
article h2 {
  background-color: transparent;
  margin: 6px 0px;
  padding: 0;
  font-size: 1.4em;
}
article.lead {
  font-size: 1em;
  float: left;
  line-height: 1em;
  margin-bottom: 12px;
}
article.lead h1,
article.lead h2,
article.lead h3 {
  margin: 6px 0px;
  padding: 0;
  background-color: transparent;
}
article.lead h1 {
  font-size: 2.4em;
  border: none;
}
article.lead h2 {
  font-size: 1.6em;
}
article.lead h3 {
  font-size: 1.2em;
}
article.lead p {
  margin-bottom: 12px;
}
article.lead .tags {
  color: #c0c0c0;
  clear: both;
}
article.lead .tags li {
  line-height: 28px;
  margin-right: 0;
}
article.lead .tags li a {
  padding: 0;
  display: inline-block;
}
article #body table {
  display: inline-table;
}
article #body p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
article .keywords-style {
  text-transform: uppercase;
  color: #666666;
  margin-top: 5px;
  font-size: 0.8em;
}
article .keywords-style-interno {
  text-transform: uppercase;
  color: #666666;
  margin-top: 5px;
  font-size: 0.8em;
}
article .section,
article .date {
  padding: 0;
  font-size: 0.8em;
}
article .byline {
  color: black;
}
article .block #gallery li {
  text-align: center;
}
article #gallery {
  padding-bottom: 40px;
}
article #gallery li {
  height: 90px;
  line-height: 90px;
  margin: 0 12px;
  text-align: center;
}
article #gallery li img {
  vertical-align: middle;
}
article .gallery_thumb {
  margin-bottom: 12px;
}
article .block .headline {
  clear: both;
}
article div.extension,
article div.fullwidthextension {
  background-color: #EFF4FA;
  border: 2px solid #DDE9F7;
  clear: right;
  float: right;
  margin: 24px 0;
  padding: 12px;
}
article div.extension {
  margin: 24px 0 24px 24px;
  width: 204px;
}
article div.byline {
  text-align: right;
}
article div.banner {
  margin: 24px auto;
}
article div.subscribe {
  margin-top: 24px;
}
article figure {
  position: relative;
}
article figure a {
  display: block;
  width: 100%;
}
article figure .wrapper {
  position: relative;
  float: left;
  width: 100%;
}
article figure figcaption {
  color: #666666;
  font-size: 0.9em;
  text-align: right;
  font-style: italic;
  width: 100%;
  float: left;
  line-height: 1.4em;
  border: none;
}
article figure img {
  width: 100%;
}
article figure .toolbar {
  display: none !important;
  background: white;
  position: absolute;
  right: 12px;
  bottom: 12px;
  padding: 0 6px;
}
article figure .toolbar > .nav > li {
  margin-right: 0px;
}
article figure:hover .toolbar {
  display: block !important;
  opacity: 80;
  filter: alpha(opacity=8000);
}
article figure:hover .toolbar a.selected {
  color: #ff33ff;
}
article figure:hover .toolbar:hover {
  opacity: 100;
  filter: alpha(opacity=10000);
}
article figure:hover .toolbar:hover a {
  color: #3399ff;
}
article figure:hover .toolbar:hover a.selected {
  color: #ff33ff;
}
article figure:hover .toolbar:hover a:hover {
  color: #0073e5;
}
article.portrait figure {
  float: left;
}
article.portrait figure figcaption {
  margin-top: 20px;
  text-align: left;
  font-style: italic;
}
article.portrait figure .byline {
  text-align: left;
  color: black;
}
article.portrait.lead figcaption {
  margin-top: 0;
}
article .toolbar .nav {
  margin-bottom: 0;
  margin-right: 0;
}
article .toolbar .nav > li {
  margin-right: 6px;
  display: inline-block;
  float: none;
}
article .toolbar .nav > li > a {
  padding: 0;
  color: #c0c0c0;
}
article footer {
  display: inline-block;
  width: 100%;
}
article footer.navbar {
  min-height: 0;
  float: none;
}
article footer .nav {
  margin: 0;
}
article:hover footer.toolbar a {
  color: #3399ff;
}
article:hover footer.toolbar a.selected {
  color: #ff33ff;
}
article:hover footer.toolbar a.pin:hover {
  color: #ff33ff;
}
article:hover footer.toolbar a:hover {
  color: #0073e5;
}
article:hover footer.toolbar .tags .icon-tags {
  color: #666666;
}
article:hover footer.toolbar .share a.popover_triger {
  color: #c0c0c0;
}
article.type_MA {
  background: red;
}
article.type_RE {
  border: solid 1px #ccc;
  padding: 6px;
}
article.type_SA {
  border: 1px solid #ccc;
  padding: 0;
}
article.type_SA header {
  margin: 0;
  background: #ccc;
}
article.type_SA header h3 {
  padding: 4px 12px;
  margin: 0;
}
article.type_SA header h3 a {
  color: black;
}
article.type_SA header h3 a:hover {
  color: #0073e5;
}
article.type_SA section.row {
  padding: 6px 12px;
}
.toolbar .pin.selected {
  color: #ff33ff;
}
.toolbar li.share {
  margin-left: 0;
}
.toolbar li.share .icon {
  padding: 3px;
  margin-left: 0;
}
.toolbar li.share li {
  margin-left: 0;
}
#page_footer {
  padding: 24px 0;
  background-color: #dfebf8;
}
#page_footer h4,
#page_footer h5 {
  padding-left: 0;
}
#page_footer h4 {
  border-bottom: 1px solid white;
  margin-bottom: 12px;
  background: none;
}
#page_footer h5 {
  font-size: 1.3em;
  margin-bottom: 24px;
  margin-top: 0px;
  text-align: left;
  background: none;
}
#page_footer #paper_footer {
  padding-bottom: 12px;
  float: left;
}
#page_footer .print ul li {
  margin: 0 12px 24px 0;
}
#page_footer .print ul li div {
  font-size: 1.1em;
  font-weight: bold;
}
#page_footer .print ul li p {
  margin: 0;
}
#page_footer .print .supplements ul li {
  margin: 24px 0;
}
#page_footer .print .supplements ul li .name {
  font-weight: bold;
  font-size: 1.1em;
}
#page_footer .print .contact {
  background-color: #3399ff;
}
#page_footer .print .contact ul {
  padding: 6px 0;
}
#page_footer .print .contact ul li {
  color: white;
  line-height: 21px;
  padding: 0 24px;
  border-left: 1px solid white;
}
#page_footer .print .contact ul li a {
  color: white;
}
#page_footer .print .contact ul li.logo {
  border: none;
  padding-left: 0;
}
#nav_footer {
  background-color: #3399ff;
  line-height: 21px;
  color: white;
}
#nav_footer ul {
  padding: 6px 0px;
  margin: 0;
}
#nav_footer li {
  border-left: 1px solid white;
  padding: 0 24px;
  line-height: 26px;
}
#nav_footer li.logo {
  border: none;
}
#nav_footer a,
#nav_footer a:hover,
#nav_footer a:active,
#nav_footer a:visited {
  color: white;
  padding: 0;
  font-weight: normal;
}
a.gallery_thumb {
  height: 98px;
  margin-bottom: 12px;
}
a.gallery_thumb img {
  max-height: 100%;
}
.arts_6x1 .gallery {
  float: right;
  margin-top: 0;
  margin-left: 372px;
}
.thumbnails {
  margin-left: auto;
}
.activity-list {
  margin-left: 0;
  list-style: none;
  max-height: 400px;
  overflow: auto;
}
.activity-list li {
  margin-bottom: 6px;
}
.icons-list {
  margin-left: 0;
  list-style: none;
  max-height: 200px;
}
.icons-list li {
  padding: 12px 6px;
  margin-bottom: 12px;
  text-align: center;
  max-height: 90px;
  display: inline-block;
}
.media {
  border-bottom: dotted 1px #000000;
  padding-bottom: 12px;
  margin-bottom: 12px;
  overflow: visible;
}
.media:last-child {
  border: none;
}
.article-list article.has_foto header,
.article-list article.has_foto footer {
  float: right;
  text-align: left;
}
.article-list article header {
  line-height: 1em;
}
.article-list article header h1 {
  padding: 0;
  border: none;
}
.article-list article figure {
  float: left;
  margin-left: 0 !important;
}
.article-list article figure figcaption {
  text-align: left;
  float: left;
}
.article-list article footer {
  line-height: 1em;
}
.article-list article .keywords-style {
  margin-top: 0;
}
#comments ul {
  margin-top: 12px;
  margin-left: 0px;
  list-style: none;
}
#comments ul li {
  list-style: none;
}
#comments ul li > ul {
  margin-left: 24px;
}
#comments #tab3 .fb_iframe_widget_lift {
  width: 100%;
}
#comments #tab4 .tbox {
  margin-top: 24px;
}
section#comments .comment:hover {
  background: white;
}
section#comments .comment:hover > .row > .flag {
  display: block !important;
}
section#comments .comment:hover > .row > .controls .nav .link,
section#comments .comment:hover > .row > .controls .nav .rating {
  display: block !important;
}
section#comments .comment:hover > .row > .controls .nav .rating,
section#comments .comment:hover > .row > .controls .nav .rating a {
  color: #3399ff;
}
.comment {
  position: relative;
}
.comment .wrapper_row {
  padding-bottom: 0;
  margin-bottom: 12px;
}
.comment .hr {
  margin: 0;
}
.comment .content {
  min-height: 3.6em;
}
.comment .link {
  display: none !important;
}
.comment .date {
  font-size: .8em;
  color: #666666;
  line-height: 18px;
  clear: left;
}
.comment .rating,
.comment .rating a {
  color: #666666;
}
.comment .flag {
  position: absolute;
  top: 12px;
  right: 12px;
  display: none !important;
}
.comment .flag a {
  color: #666666;
}
.comment .flag a:hover {
  color: #0073e5;
}
.comment .comment_reply_connector {
  text-align: right;
}
.comment.level_1:hover,
.comment.level_2:hover {
  z-index: 500;
}
.comment-form,
#reply_form {
  margin: 12px;
}
.comment-form textarea,
#reply_form textarea {
  width: 97%;
  height: 60px;
  border: solid 1px #3399ff;
}
.comment-form label,
#reply_form label {
  font-size: 1em;
}
body.section .comunidad .tab-content {
  height: 220px;
  overflow: auto;
}
body.midiaria #strip .midiaria > a,
body.comunidad #strip .comunidad > a,
body.profile #strip .user_profile li > a {
  background: white;
  color: #666666;
}
body.article #content {
  width: 100%;
}
body.article article.detail {
  float: left;
}
body.article article.detail figure#photo {
  float: right;
  background: white;
  width: 100%;
}
body.article article.detail figure#photo figcaption {
  background: transparent url(../img/dotted.gif) repeat-x 0 bottom;
  padding: 6px 0;
  margin-bottom: 12px;
}
body.article article.detail h1 {
  padding: 0;
  background: none;
  font-size: 2em;
  line-height: 2em;
}
body.article article.detail h2 {
  clear: none;
}
body.article article.detail p {
  font-size: 1.1em;
  line-height: 1.3em;
}
body.article article.detail p.deck {
  font-size: 1.1em;
  margin-bottom: 0;
}
body.article article.detail p.lead {
  margin-bottom: 0;
  font-size: 1.1em;
}
body.article article.detail .tags-list {
  margin-top: 12px;
  display: inline-block;
}
body.article #fixed-right {
  background: #ffffff;
}
body.article #fixed-right #activoseccion,
body.article #fixed-right #activoladiaria {
  border: none;
}
body.article #fixed-right #activoseccion h4,
body.article #fixed-right #activoladiaria h4 {
  margin: 0;
}
body.article #fixed-right #galeriadefotos .accordion-inner {
  max-height: 112px;
  overflow: auto;
  border: none;
}
body.article #fixed-right #activoseccion .tab-content,
body.article #fixed-right #activoladiaria .tab-content {
  overflow: auto;
  max-height: 250px;
}
body.article #fixed-right > .wrapper.affix {
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
  padding: 0;
  position: fixed;
}
@media (min-width: 768px) {
  body.article #fixed-right > .wrapper.affix {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  body.article #fixed-right > .wrapper.affix {
    float: left;
    width: 33.33333333%;
  }
}
body.article .affix {
  top: 36px;
  position: fixed;
}
body.article .affix-top {
  position: static;
}
body.article .affix-bottom {
  top: auto;
  position: absolute;
}
body.article #toolbar a:hover {
  background: none;
}
body.article #toolbar li {
  display: block;
  float: none;
  text-align: center;
  position: relative;
  margin-bottom: 6px;
}
body.article #toolbar li a {
  padding: 0 12px;
}
body.article #toolbar li a:focus {
  background: none;
}
body.article #toolbar li .count {
  background: none repeat scroll 0 0 white;
  bottom: 0;
  font-size: 0.9em;
  padding: 3px;
  position: absolute;
}
body.article #toolbar .social_toolbar {
  padding-top: 12px;
  text-align: center;
  float: left;
}
body.article #toolbar .social_toolbar li {
  margin-bottom: 12px;
  width: auto;
  display: inline-block;
}
body.article #toolbar .social_toolbar li a {
  padding: 0 12px;
}
body.article #toolbar .fa,
body.article #toolbar [class^="icon"],
body.article #toolbar [class*=" icon"] {
  font-size: 36px;
  line-height: 36px;
  height: 36px;
}
body.article .volver-arriba-right {
  margin-bottom: 12px;
}
body.article.comunidad .breadcrumb {
  background-color: #FFDDFF;
}
body.comunidad .tab-content,
body.midiaria .tab-content,
body.profile .tab-content,
body.cientocuarenta .tab-content {
  max-height: 400px;
}
body.midiaria ul.tagit {
  width: auto;
  padding: 0 !important;
  margin: 0 0 12px 0;
  border: none;
}
body.midiaria ul.tagit .ui-autocomplete-input {
  width: 100%;
  padding: 4px;
  font-size: inherit;
  height: auto;
  border: solid 1px #3399ff;
}
body.midiaria ul.tagit .tagit-new {
  border: none;
  clear: left;
}
body.midiaria ul.tagit .tagit-label {
  word-break: break-all;
}
body.midiaria ul.tagit li.tagit-choice {
  padding: 6px 24px 6px 6px;
  color: white;
  background: #3399ff;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
body.midiaria ul.tagit li.tagit-choice .tagit-close .text-icon {
  color: white;
}
body.midiaria ul.tagit li.tagit-choice:hover,
body.midiaria ul.tagit li.tagit-choice.remove {
  background: #0073e5;
}
body.midiaria ul.ui-autocomplete {
  width: 100%;
  padding: 0 !important;
  margin: 0 0 12px 0;
  max-height: 100px;
  border: none;
}
body.midiaria ul.ui-autocomplete .ui-autocomplete-input {
  width: 100%;
  padding: 4px;
  font-size: inherit;
  height: auto;
  border: solid 1px #3399ff;
}
body.midiaria ul.ui-autocomplete.ui-menu .ui-menu-item {
  clear: none;
  width: auto;
}
body.comunidad #cientocuarenta .nav-tabs > li {
  text-align: center;
}
body.profile ul.tagit {
  width: auto;
  padding: 0 !important;
  margin: 0 0 12px 0;
  border: none;
}
body.profile ul.tagit .ui-autocomplete-input {
  width: 100%;
  padding: 4px;
  font-size: inherit;
  height: auto;
  border: solid 1px #3399ff;
}
body.profile ul.tagit .tagit-new {
  border: none;
  clear: left;
}
body.profile ul.tagit .tagit-label {
  word-break: break-all;
}
body.profile ul.tagit li.tagit-choice {
  padding: 6px 24px 6px 6px;
  color: white;
  background: #3399ff;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
body.profile ul.tagit li.tagit-choice .tagit-close .text-icon {
  color: white;
}
body.profile ul.tagit li.tagit-choice:hover,
body.profile ul.tagit li.tagit-choice.remove {
  background: #0073e5;
}
body.profile .user_pic {
  margin-bottom: 12px;
}
body.profile .leer a:after {
  content: " Leer";
}
body.profile .leer a.selected:after {
  content: " Dejar de leer";
}
body.cientocuarenta .media footer {
  margin-top: 12px;
}
table.messages {
  width: 100%;
}
.zonahumor {
  border: dashed 4px black;
  padding: 0 12px 12px 12px;
}
section#humor .page {
  border: dashed 4px black;
}
section#humor .page h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
}
body.humour #content h2 {
  background: none;
  padding: 0;
  clear: none;
}
.header_losinformantes,
.header_elfaro {
  padding: 0 6px;
  margin: 0 -11px;
}
.header_losinformantes h1,
.header_elfaro h1 {
  border: none;
}
.header_elfaro h1 {
  line-height: 28px;
}
body.losinformantes .header_losinformantes {
  margin-bottom: 12px;
}
body.elfaro .header_elfaro {
  margin-bottom: 12px;
}
body.cartelera .lead h2 {
  margin: 0px;
  background: none;
  padding: 0;
}
.art_2x1.has_foto.lead p.lead,
.art_2x1.has_foto.lead p.lead {
  max-height: 480px;
  overflow: auto;
}
.art_2x1.has_foto.lead .byline,
.art_2x1.has_foto.lead .byline {
  white-space: normal;
}
.art_1x2 .byline {
  white-space: normal;
}
.pub {
  display: inline-block;
  float: none;
  margin: 12px 0;
  padding: auto 0;
  text-align: center;
  width: 100%;
}
#sidebar-skyscraper {
  position: absolute;
  top: 50px;
  right: 12px;
}
#sidebar-skyscraper .wrapper.affix-top {
  position: relative;
}
#sidebar-skyscraper .wrapper.affix {
  position: fixed;
  top: 36px;
  right: 12px;
}
#sidebar-skyscraper .wrapper.affix-bottom {
  position: relative;
  margin-bottom: 12px;
}
#header-pub,
#footer-pub {
  width: 100%;
  text-align: center;
  margin: 12px 0;
}
.art_2x1.pub,
.art_2x0.pub {
  margin: 12px 0 0;
  text-align: left;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.signupwalloverlay {
  opacity: .6;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 100000;
  background: #3399ff;
  scroll: none;
  overflow: hidden;
}
#signupwall {
  background: white;
  z-index: 1000000;
}
@media (max-width: 768px) {
  body.article .affix {
    position: relative !important;
    display: inline-block;
    float: left;
    width: 100%;
  }
  body.article #toolbar .navbar-nav li {
    display: inline-block;
  }
  .border-right,
  .border-left,
  .border-both {
    position: relative;
  }
  .border-left:before,
  .border-right:after {
    visibility: hidden;
    display: none !important;
  }
}
@media (max-width: 991px) {
  #strip .user_profile .dropdown-menu {
    position: absolute;
    width: 200px;
    background-clip: padding-box;
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    list-style: none outside none;
    padding: 12px;
    top: 100%;
    z-index: 1000;
    text-align: center;
  }
  #strip .user_profile .dropdown-menu .pull-right,
  #strip .user_profile .dropdown-menu .pull-left {
    float: none !important;
  }
  #strip-social-navbar,
  #strip-search-navbar {
    width: 100%;
    text-align: right;
  }
  #strip-social-navbar li,
  #strip-search-navbar li {
    display: inline-block;
  }
  #strip-search-navbar #search {
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #logo {
    width: 200px;
  }
}
@media (min-width: 992px) {
  #logo {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  #logo {
    width: 200px;
  }
}
@media (max-width: 480px) {
  body > .container-fluid {
    padding: 24px 12px;
  }
}
@media (min-width: 480px) {
  body.article article.detail {
    font-size: 1.1em;
  }
  body > .container-fluid {
    padding: 24px 12px;
  }
}
@media (min-width: 768px) {
  body.article article.detail {
    font-size: 1em;
  }
}
@media (min-width: 992px) {
  body.article article.detail {
    font-size: 1em;
  }
  body > .container-fluid {
    padding: 24px 196px 12px 12px;
  }
  body #edition_fixed {
    margin-right: 196px;
  }
  body .scroll-top {
    right: 196px;
  }
}
@media (min-width: 1200px) {
  body.article article.detail {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  #cover #highlights article header {
    height: 6em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #cover #highlights article header {
    height: 4em;
  }
}
@media (min-width: 992px) {
  #cover #highlights article header {
    height: 6em;
  }
}
