body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#articulos {
		-webkit-column-count: 2;
		-webkit-column-gap: 15px;
}
article, .tituloArticulo {
		border-radius: 5px;
		background-color: rgba(153,204,0,.5);
}
.tituloArticulo {
	margin-bottom: 20px;
}
footer, header {
	text-align:center;
}