@charset "utf-8";
/* CSS Document */
div#cgallito_contenedor { font-family:Arial, Helvetica, sans-serif; font-size:12px;  background-color:#efefef;}
div#barra {margin-top: -3px;}
div#cgallito_total { display:block; width:300px; margin: 5px 0px 5px 0px; background-color:#ffffff;}
div#cgallito_cabezal { display:block; width:100%; height:100px; background-image:url(http://www.gallito.com.uy/widget/imagenes/fnd_cabezal.jpg); background-repeat:repeat-x; text-align:center;}
div.cgallito_listado { display:block; width:288px; border:solid 1px #CCCCCC; border-top:hidden; padding:3px 5px 3px 5px;}
div.cgallito_modaviso { background-image:url(http://www.gallito.com.uy/widget/imagenes/fnd_avisos.gif); display:block; height:80px; padding: 5px 5px 3px 5px; margin:3px 0px 4px 0px;}
div.cgallito_modaviso_off{display:none;}
div.cgallito_divlogos { display:block; height:90px; text-align:center; padding:8px 0px 0px 0px;}
img.cgallito_foto_aviso { display:block; float:left; width:100px; height:76px; margin:0px 10px 0px 6px; border:none;}
span.cgallito_titulo { color:000px; font-size:14px; font-weight:bold; display:block; float:none; clear:right; padding:6px 0px 0px 0px;}
span.cgallito_subtitulo { color:000px; font-size:11px;display:block; float:none; clear:right; padding:3px 0px 0px 0px;}
span.cgallito_precio { color:#2374c5; font-size:16px; font-weight:bold;display:block; float:none; clear:right; padding:3px 0px 0px 0px;}
img.cgallito_logo { display: inline-block; margin:4px 4px 4px 4px; width:85px; height:45px;}
img.cgallito_btn { display:inline-block; margin:0px 0px 0px 0px; width:96px; height:23px;}
a.cgallito_link_aviso { text-decoration:none; border:hidden; color:inherit;}
a.cgallito_link_barra img { border:none;}
div.cgallito_listado_off{display:none;}