/*////////////////*/
/*version 1.2.7*/
/*////////////////*/

.live-results-full .logo .logo-image { 
 background: url("./images/logo-mam-ovacion.png") no-repeat scroll left center rgba(0, 0, 0, 0)!important;
    height: 45px;
    left: 15px;
    position: absolute;
    top: 12px;
    width: 170px;
}

.container .part-middle { display: inline-block;}

.live-results-full { margin: 0 -4px;}

#div_mam_slider_content.content { margin:0; }

.live-results-full .logo .logo-text {display: none;}

.live-results-part .box-team .team-score {
    background: url("./images/backgrounds/ovacion-body-bg-01.png") repeat scroll 0 0 #277621!important;
    color: #fff!important;
    font-size: 6.2em;
}
.live-results-full .box-result .title span { color:#ff0000!important;}
.live-results-full .box-result .title.in-game {
    color: #ff0000!important;
}

.live-results-full {
	background:url("./images/bg_slider.png") repeat-x #fff;	
	height: 74px;
    margin: 0px -4px;
}

.live-results-full .box-result {

	background: url("./images/separador.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0 0 0 21px !important;
    width: 130px !important;    
}
.live-results-full .box-result .fecha {
	color: #58891d;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 3px;
	text-transform: uppercase;
}
.live-results-full .box-result .title {
	margin: 0 0 3px;
	font-size: 1.2em;
	color: #d8c800;
}
.live-results-full .box-result .team, .live-results-full .box-result .team a, .live-results-full .box-result .team a:link, .live-results-full .box-result .team a:visited {
	margin: 0 0 3px;
	font-weight: bold;
	color: #fff;
}
.live-results-full .boxes-results {
	padding: 0;
}
.live-results-full .torneo {
	color: #FFFF33;
	font-size: 9px;
	text-transform: uppercase;
}
.live-results-full .logo { 
   float:left;
   display: block;
}


.live-results-full .box-result .team span {
    color: #ccff00 !important;
    float: right;
    margin-left: 0 !important;
    margin-right: 5px !important;
}

.container-slides-home {
	width:470px;
	height:310px;
	margin: 0 10px;
}

#carrusel {
    float: right;
    height: 75px;
    margin-right: 1em;
    margin-top: 0;
    overflow: hidden;
    position: relative;
    width:80%;
}
    
#carrusel .izquierda_flecha {
    background-image: url("./images/left.jpg");
    border: medium none;
    height: 74px;
    left: 0;
    position: absolute;
    top: 0;
    width:54px;
    z-index: 1;
}
#carrusel .derecha_flecha {
    background-image: url("./images/right.jpg");
    border: medium none;
    height:74px;
    position: absolute;
    right:-1px;
    top: 0;
    width: 54px;
    z-index: 1;
}


.carrusel {
    left: 0;
    margin-left: 50px;
    position: absolute;
    width: 1500px;
    z-index: 0;
    margin-top: 1.5em;
}
.carrusel>div{
	float: left;
	height: 60px;
	margin-right: 16px;
	text-align: left;
}
.carrusel .img_carrusel{
	cursor:pointer;
}
#content {
	float:left;
	width:600px;
	margin-bottom:40px;
	margin:0px auto;
}	
.live-results-content ul{
	
	display: block;
	height: auto;
	overflow: hidden;
	padding: 0 8px 6px ;
	line-height: 18px;
	background:url(./images/bg_sombra.png) repeat-y;
	width: 100%
}

.live-results-content ul li.tiempo {
	color:rgb(255, 255, 51);
	font-weight: bold;
	float:left;
	margin-right:3px;
}
.live-results-content ul li.minuto { 
	color: #e0ff73;
	font-weight: bold;
	float:left;
	margin-right:3px;
}
.live-results-content ul li.jugador {
	color: rgb(255, 255, 255);
	float: left;
}
#carrusel span a { 
	color:#CCFF00;
	float: right;
	
}

.box-result .in-game, .box-result .in-game span{ color: red}

.resultado { 
    background:url(./images/bg_result.png) repeat;
	font-size: 11px;
	height: auto;
	left:5px;
	padding: 0;
	position: absolute;
	top:140px;
	visibility: hidden;
	width: auto;
	z-index: 2147483647;
	border-top: 3px solid #58891d;

}



/*carrusel sin logo*/
.sinologo #carrusel  {
	float: right;
    height: 75px;
    margin-right: 1em;
    margin-top: 0;
    overflow: hidden;
    position: relative;
    width: 98%;
}
.sinologo .logo-image{display: none;}
.sinologo .live-results-full .logo .logo-text {display: none;}

.sinologo .live-results-full{
	height: 74px;
    margin: 0px -4px;
}

.sinologo .carrusel>div{	
	margin-right: 4px;	
}

.sinologo #carrusel .izquierda_flecha {
    background-image: url("./images/left.jpg");
    border: medium none;
    height: 74px;
    left: 0;
    position: absolute;
    top: 0;
    width:54px;
    z-index: 1;
}


/*versión movil */
@media only screen and (max-device-width:420px){


.content.live-results-content.sinologo.movil {
    padding-left: 0 !important;
    padding-top: 0 !important;
    width: 100%;
}
.sinologo .live-results-full { 
    margin: 0;
}

.carrusel {   
    margin-left: 16px !important;
    margin-top: 14px !important;
}
.sinologo .live-results-full{ width: 100%!important; margin: 0!important}

.sinologo.movil #carrusel {
    float: left;
    height: 70px;
    margin-right: 0;
    margin-top: 0;
    overflow: hidden;
    position: relative;
    width:100% !important;
    background: url("./images/bg_slider.png") repeat-x scroll 0 0 transparent;
}

/*#carrusel{width:340px!important;
}*/
.movil .live-results-full .box-result {
    background: url("./images/separador.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0 0 0 10px !important;
    width: 120px !important;
}

.sinologo.movil #carrusel .derecha_flecha {
    background-image:url("./images/m_right.png") !important;  
    width: 20px!important;
}

.sinologo.movil #carrusel .izquierda_flecha {
    background-image: url("./images/m_left.png") !important;  
    width: 20px!important;  
}
.sinologo.movil .carrusel > div {
    margin-right: 3px;
}

.live-results-full .box-result .team,
.live-results-full .box-result .team a,
.live-results-full .box-result .team a:link,
.live-results-full .box-result .team a:visited{
    font-size: 12px;
}
}
@media only screen and (min-device-width:570px) and (max-device-width:768px){ .live-results-full .box-result .team,
.live-results-full .box-result .team a,
.live-results-full .box-result .team a:link,
.live-results-full .box-result .team a:visited{
    font-size: 14px;
}
}