.section-ovacion {background: url(http://www.elpais.com.uy/images/backgrounds/ovacion-body-bg-01.png) #277621 repeat;}

.multimedia-widget {clear:both;}

.section-economia .video-icon-play-big h2 { color: #fff !important; }
.section-economia .main-news-container .main-news .article h2 { color: #fff !important; }